<div id="navbar">
  <span><%= link_to "Totals", "/holidaybird/totals"%></span> </li>
  <span><%= link_to "RET", "/holidaybird/ret"%></span> </li>
  <span><%= link_to "CON", "/holidaybird/consumer"%></span> </li>
</div>
<div class="dropdown">
  <button class="dropbtn">FSV </button>
  <div class="dropdown-content">
    <span><%= link_to "FSV", "/holidaybird/fsv"%></span>
    <span><%= link_to "FSV NJ", "/holidaybird/fsvnj"%></span>
    <span><%= link_to "FSV IL", "/holidaybird/fsvil"%></span>
    <span><%= link_to "FSV GA", "/holidaybird/fsvga"%></span>
    <span><%= link_to "FSV TX", "/holidaybird/fsvtx"%></span>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">FSR </button>
  <div class="dropdown-content">
    <span><%= link_to "FSR", "/holidaybird/fsr"%></span>
    <span><%= link_to "FSR NJ", "/holidaybird/fsrnj"%></span>
    <span><%= link_to "FSR IL", "/holidaybird/fsril"%></span>
    <span><%= link_to "FSR GA", "/holidaybird/fsrga"%></span>
    <span><%= link_to "FSR TX", "/holidaybird/fsrtx"%></span>
  </div>
</div>
<br>
