
<table id="mytable" class="display" cellspacing="0" >
  <thead>
  <tr>
    <th>SKU</th>
    <th>Item</th>
    <th>UOM</th>
    <th>Forecast</th>
    <th>Harvest</th>
    <th>Shipped</th>
    <th>Ordered</th>
    <th>Channel Move</th>
    <th>ICT Move</th>
    <th>E21 Adj</th>
    <th>To Sell</th>
  </tr>
  </thead>

  <tbody>
  <% @main.each do |main| %>
    <% sold = (main.shipped + main.ordered - main.adjustment) %>

    <% if !main.harvest || @forecast_value %>
      <% to_sell = main.forecast - sold %>
      <% if to_sell <= 0 %>
        <tr id="red">
      <% else %>
        <tr>
      <% end %>
    <% else %>
      <% to_sell = main.harvest - sold %>
      <% if to_sell <= 0 %>
        <tr id="red">
      <% else %>
        <tr>
      <% end %>
    <% end %>
      <td><%= main.sku %></td>
      <td><%= main.description %></td>
      <td><%= main.uom %></td>
      <td><%= main.forecast %></td>
    <% if !main.harvest  || @forecast_value %>
        <td><%= 0 %></td>
    <% else %>
        <td><%= main.harvest %></td>
    <% end %>
      <td><%= main.shipped %></td>
      <td><%= main.ordered %></td>
      <td><%= main.channel_move %></td>
      <td><%= main.ict_move %></td>
      <td><%= main.e21_move %></td>
      <td><%= to_sell %></td>
    </tr>
  <% end %>
  </tbody>
</table>
