<h2 class="primary-logo"></h2>
<h1 class="title">Turkey Tote</h1>
<div class="dropdown">
  <span class="dropbtn">CON</span>
  <div class="dropdown-content">
    <span><%= link_to "CON", "/turkeytote/consumer"%></span>
    <span><%= link_to "CON NJ", "/turkeytote/consumernj"%></span>
    <span><%= link_to "CON IL", "/turkeytote/consumeril"%></span>
    <span><%= link_to "CON GA", "/turkeytote/consumerga"%></span>
    <span><%= link_to "CON TX", "/turkeytote/consumertx"%></span>
    <span><%= link_to "CON CO", "/turkeytote/consumerco"%></span>
  </div>
</div>
<div class="dropdown">
  <span class="dropbtn">RET</span>
  <div class="dropdown-content">
    <span><%= link_to "RET", "/turkeytote/ret"%></span>
    <span><%= link_to "RET NJ", "/turkeytote/retnj"%></span>
    <span><%= link_to "RET IL", "/turkeytote/retil"%></span>
  </div>
</div>
<div class="dropdown">
  <span class="dropbtn">FS</span>
  <div class="dropdown-content">
    <span><%= link_to "FS", "/turkeytote/fs"%></span>
    <span><%= link_to "FS NJ", "/turkeytote/fsnj"%></span>
    <span><%= link_to "FS IL", "/turkeytote/fsil"%></span>
    <span><%= link_to "FS GA", "/turkeytote/fsga"%></span>
    <span><%= link_to "FS TX", "/turkeytote/fstx"%></span>
    <span><%= link_to "FS CO", "/turkeytote/fsco"%></span>
  </div>
</div>
<div class="dropdown">
  <span class="dropbtn">Totals</span>
  <div class="dropdown-content">
    <span><%= link_to "Totals", "/turkeytote/totals"%></span>
    <span><%= link_to "Totals NJ", "/turkeytote/totalsnj"%></span>
    <span><%= link_to "Totals IL", "/turkeytote/totalsil"%></span>
    <span><%= link_to "Totals GA", "/turkeytote/totalsga"%></span>
    <span><%= link_to "Totals TX", "/turkeytote/totalstx"%></span>
    <span><%= link_to "Totals CO", "/turkeytote/totalsco"%></span>
  </div>
</div>
